@import "./css/borders.css";
@import "./css/colors.css";
@import "./css/flexbox.css";
@import "./css/fonts.css";
@import "./css/opacity.css";
@import "./css/sizes.css";
@import "./css/spacing.css";
@import "./css/shadows.css";
@import "./css/position.css";
@import "./css/hover.css";

/* poppins-regular */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./src/fonts/poppins/poppins-v21-latin-regular.woff2")
    format("woff2");
}

/* poppins-500 */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: medium;
  font-weight: 500;
  src: url("./src/fonts/poppins/poppins-v21-latin-500.woff2") format("woff2");
}

/* poppins-700 */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: bold;
  font-weight: 700;
  src: url("./src/fonts/poppins/poppins-v21-latin-700.woff2") format("woff2");
}

/* montserrat-regular */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./src/fonts/montserrat/montserrat-v26-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: url("./src/fonts/montserrat/montserrat-v26-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", "Poppins", "sans-serif";
  display: flex;
  justify-content: center;
  border-width: 0px;
}

body {
  display: flex;
  width: 1440px;
  max-width: 100vw;
  justify-content: center;
  margin: 0px;
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
}

input[type="radio"] {
  all: unset;
}

input::placeholder {
  color: #9f9f9f;
  font-size: 0.75rem;
  font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.image-container {
  height: 401px !important;
}

.image-product-details {
  width: 423px;
  height: 500px;
}
