/* Bordas */
.rounded {
  border-radius: 0.25rem;
}
.rounded-lg {
  border-radius: 0.5rem; /* 8px */
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-gray-300 {
  border-color: #d9d9d9;
}
.border-blue-500 {
  border-color: #3b82f6;
}
