/* Cores de fundo */
.bg-white {
  background-color: #ffffff;
}
.bg-gray-100 {
  background-color: #f4f5f7;
}
.bg-red-500 {
  background-color: #ef4444;
}
.bg-green-500 {
  background-color: #2ec1ac;
}
.bg-features {
  background-color: #faf3ea;
}
.bg-features-200 {
  background-color: #fff3e3;
}
.bg-button-selected {
  background-color: #b88e2f;
}
.bg-button {
  background-color: #f9f1e7;
}

/* Cores do texto */
.text-white {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
.text-gray-400 {
  color: rgb(137 137 137);
}
.text-yellow-500 {
  color: #eab308;
}
.text-card-button {
  color: #b88e2f;
}
