/* Espaçamento */
.m-0 {
  margin: 0;
}
.m-2 {
  margin: 0.5rem;
}
.m-4 {
  margin: 1rem;
}
.m-8 {
  margin: 2rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-18 {
  margin-bottom: 4.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-4 {
  margin-left: 1rem;
}
.my-2 {
  margin-top: 0.5rem; /* 8px */
  margin-bottom: 0.5rem; /* 8px */
}
.my-9 {
  margin-top: 2.25rem; /* 36px */
  margin-bottom: 2.25rem; /* 36px */
}

.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-8 {
  padding: 2rem;
}
.p-10 {
  padding: 2.5rem;
}
.p-12 {
  padding: 3rem;
}

.px-2 {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
}
.px-4 {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}
.px-12 {
  padding-left: 3rem; /* 48px */
  padding-right: 3rem; /* 48px */
}
.px-16 {
  padding-left: 4rem; /* 64px */
  padding-right: 4rem; /* 64px */
}

.py-1 {
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
}
.py-6 {
  padding-top: 1.5rem; /* 24px */
  padding-bottom: 1.5rem; /* 24px */
}

.gap-1 {
  gap: 0.25rem;
}
.gap-4 {
  gap: 1rem; /* 16px */
}
.gap-6 {
  gap: 1.5rem; /* 24px */
}
.gap-8 {
  gap: 2rem; /* 32px */
}
.gap-12 {
  gap: 3rem; /* 48px */
}
.gap-18 {
  gap: 4.5rem;
}

.space-x-2 {
  margin-left: 0.5rem; /* 8px */
  margin-right: 0.5rem; /* 8px */
}
